<h1>Create New Conditions</h1>

<form action="/conditions" method="POST">
  <h3>Date: <input type="text" name="condition[date]"></h3>
  <h3>Max Temperature:<input type="integer" name="condition[max_temperature_f]"></h3>
  <h3>Mean Temperature:<input type="integer" name="condition[mean_temperature_f]"></h3>
  <h3>Min Temperature:<input type="integer" name="condition[min_temperature_f]"></h3>
  <h3>Mean Humidity:<input type="integer" name="condition[mean_humidity]"></h3>
  <h3>Mean Visibility (Miles):<input type="integer" name="condition[mean_visibility_miles]"></h3>
  <h3>Mean Wind Speed (mph):<input type="integer" name="condition[mean_wind_speed_mph]"></h3>
  <h3>Precipitation (inches):<input type="integer" name="condition[precipitation_inches]"></h3>
  <input type="hidden" name="condition[zip_code]" value="94107">
  <input type="submit" name="" value="Create Conditions!">
</form>
