<h1>Conditions for <%= @condition.date %></h1>
<h3>Date:</h3>
<h3>Max Temperature:</h3>
<h3>Mean Temperature:</h3>
<h3>Min Temperature:</h3>
<h3>Mean Humidity:</h3>
<h3>Mean Visibility (Miles):</h3>
<h3>Mean Wind Speed (mph):</h3>
<h3>Precipitation (inches):</h3>
