<h1>Create a New Trip</h1>
<form action="/trips" method="post">
  <br>Duration <p><input id="duration" type="text" name='trip[duration]'></p>
  <br>Start Date <p><input id="start_date"type="text" name='trip[start_date]'></p>
  <br>Start Station Name <p><input id="start_station_name"type="text" name='trip[start_station_name]'></p>
  <br>Start Station Id <p><input id="start_station_id"type="text" name='trip[start_station_id]'></p>
  <br>End Date <p><input id="end_date"type="text" name='trip[end_date]'></p>
  <br>End Station Name <p><input id="end_station_name"type="text" name='trip[end_station_name]'></p>
  <br>End Station Id <p><input id="end_station_id"type="text" name='trip[end_station_id]'></p>
  <br>Bike Id <p><input id="bike_id"type="text" name='trip[bike_id]'></p>
  <br>Subscription Type <p><input id="subscription_type"type="text" name='trip[subscription_type]'></p>
  <br>Zip Code <p><input id="zip_code"type="text" name='trip[zip_code]'></p>
  <br><p><input id="submit_trip"type="submit" value="Submit"></p>
</form>
