<h1>Create a New Station</h1>
<form action="/station" method="POST">
  <br>ID <p><input id="id" type="text" name='station[id]'></p>
  <br>Name <p><input id="name"type="text" name='station[name]'></p>
  <br>Dock Count <p><input id="dock_count"type="text" name='station[dock_count]'></p>
  <br>City<p><input id="city"type="text" name='station[city]'></p>
  <br>Installation Date <p><input id="installation_date"type="text" name='station[installation_date]'></p>
  <br><p><input id="submit_station"type="submit" value="Submit"></p>
</form>
