<h1>New Station</h1>
<form action="/station" method="POST">
  <input type="text" name="station[name]">
  <input type="text" name="station[dock_count]">
  <input type="text" name="station[city]">
  <input type="text" name="station[installation_date]">
  <input type="submit" value="Submit">
</form>
