<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="show.css">

  <title>BikeShareApp</title>
</head>
<body>
    <div class="btn-group btn-group-justified" role="group" >
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary">
            <a href="/trips">Trips</a>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary">
            <a href="/tasks">Stations</a>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary">
            <a href="/tasks/new">Weather</a>
          </button>
        </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>

<!-- Latest compiled and minified JavaScript -->
<link src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</html>
